flows_vuosaari.json
[{"id":"24a313b5.02d3ec","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2485c3d9.99631c","type":"ui_group","name":"Default","tab":"b9432fdb.fb79a","order":1,"disp":false,"width":"6","collapse":false},{"id":"b9432fdb.fb79a","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":true},{"id":"9d45ca7d.703fa8","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#000000","edited":true},"page-backgroundColor":{"value":"#000000","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":true},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#000000","edited":true},"group-backgroundColor":{"value":"#000000","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#5c0000","edited":true},"widget-borderColor":{"value":"#141414","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Test dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1f5d0207.2b455e","type":"ui_group","name":"Battery Bank 1","tab":"b9432fdb.fb79a","order":3,"disp":true,"width":"6","collapse":false},{"id":"566c0f8e8f8327d4","type":"ui_group","name":"Group 3","tab":"b9432fdb.fb79a","order":2,"disp":false,"width":"6","collapse":false},{"id":"953e3ea5.95db4","type":"signalk-subscribe","z":"24a313b5.02d3ec","name":"Engine room temp","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.inside.engineRoom.temperature","source":"1.1","period":1000,"x":270,"y":160,"wires":[["e39ec6a3.b60698","816d3400ac22fcf5"]]},{"id":"e39ec6a3.b60698","type":"function","z":"24a313b5.02d3ec","name":"Kelvin to Celsius","func":"var kelvins = parseFloat(msg.payload);\nvar celsius = kelvins - 273.15;\n\nmsg.payload = celsius.toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":160,"wires":[["7ffadd13.ca4f14"]]},{"id":"e3d8d8a2.341388","type":"signalk-subscribe","z":"24a313b5.02d3ec","name":"Engine room humidity","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.inside.relativeHumidity","source":"1.1","period":1000,"x":260,"y":320,"wires":[["89350aba.a2c0d8","7c8820398808b951"]]},{"id":"89350aba.a2c0d8","type":"function","z":"24a313b5.02d3ec","name":"x100","func":"var input = parseFloat(msg.payload);\n\nmsg.payload = (input*100).toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":320,"wires":[["bd9931aa.74ada"]]},{"id":"bd9931aa.74ada","type":"ui_gauge","z":"24a313b5.02d3ec","name":"","group":"2485c3d9.99631c","order":2,"width":6,"height":3,"gtype":"gage","title":"Engine room humidity","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"95","x":760,"y":320,"wires":[]},{"id":"9c129b29.5ece98","type":"signalk-send-nmea2000","z":"24a313b5.02d3ec","name":"","nmea2000Event":"nmea2000out","nmea2000JsonEvent":"nmea2000JsonOut","x":910,"y":2020,"wires":[]},{"id":"1c33b307.a36fdd","type":"function","z":"24a313b5.02d3ec","name":"","func":"\npgn = {\n    \"pgn\": 127501,\n    \"Instance\": 1,\n    \"Indicator1\": msg.payload\n}\nmsg.payload = pgn;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1960,"wires":[["9c129b29.5ece98"]]},{"id":"b6818c99.ff92b","type":"ui_switch","z":"24a313b5.02d3ec","name":"","label":"Relay 1","tooltip":"","group":"566c0f8e8f8327d4","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":460,"y":1960,"wires":[["1c33b307.a36fdd"]]},{"id":"7ffadd13.ca4f14","type":"ui_gauge","z":"24a313b5.02d3ec","name":"","group":"2485c3d9.99631c","order":1,"width":6,"height":3,"gtype":"gage","title":"Engine room temperature","label":"°C","format":"{{value}}","min":"-30","max":"50","colors":["#001eff","#00cc3d","#ca3838"],"seg1":"1","seg2":"25","x":770,"y":160,"wires":[]},{"id":"ac6a62b5.39975","type":"ui_button","z":"24a313b5.02d3ec","d":true,"name":"","group":"1f5d0207.2b455e","order":9,"width":2,"height":1,"passthru":true,"label":"24 H","tooltip":"","color":"","bgcolor":"","icon":"","payload":"24","payloadType":"num","topic":"","x":390,"y":2200,"wires":[["de8150aa.71733"]]},{"id":"2352d27e.94005e","type":"ui_button","z":"24a313b5.02d3ec","d":true,"name":"","group":"1f5d0207.2b455e","order":8,"width":2,"height":1,"passthru":true,"label":"3 H","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":390,"y":2240,"wires":[["de8150aa.71733"]]},{"id":"5bf0d866.9868c","type":"ui_button","z":"24a313b5.02d3ec","d":true,"name":"","group":"1f5d0207.2b455e","order":7,"width":2,"height":1,"passthru":false,"label":"1 H","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":390,"y":2160,"wires":[["de8150aa.71733"]]},{"id":"de8150aa.71733","type":"function","z":"24a313b5.02d3ec","name":"SetTimeRange","func":"var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar p_hr = 1000*60*60; //1 Hour\n\nvar d = new Date();\nvar current = d.getTime();\n\n\nmsg.fromdate = \"now-\" + msg.payload +\"h\";\nmsg.enddate = \"now\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":2200,"wires":[["aeaaadf4.7dcb"]]},{"id":"7adc3ee7.b03f6","type":"ui_template","z":"24a313b5.02d3ec","group":"1f5d0207.2b455e","name":"Page Got Loaded","order":5,"width":0,"height":0,"format":"<script>\n(function() {\n    (function(scope) {\n        scope.send({payload: \"preload\"}); // this gets sent when the view is opened in the browser\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":190,"y":2200,"wires":[["2352d27e.94005e"]]},{"id":"aeaaadf4.7dcb","type":"function","z":"24a313b5.02d3ec","name":"BuildTemplate","func":"//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\npanelid=2\n\nmsg.payload= \"http://vuosaari.vega:3000/d/VC_Go2Rgz/test?orgId=1&kiosk\"+\n\"&refresh=1m\"+\n\"&theme=dark\"+\n\"&from=\"+ msg.fromdate +\n\"&to=\"+ msg.enddate +\n\"&panelId=\"+panelid\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":2200,"wires":[["14f5cd67.1fbd6b"]]},{"id":"14f5cd67.1fbd6b","type":"ui_template","z":"24a313b5.02d3ec","d":true,"group":"1f5d0207.2b455e","name":"Charttemperatuur","order":6,"width":0,"height":0,"format":"<html>\n<iframe id=\"myFrame\" width=\"300px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1110,"y":2200,"wires":[[]]},{"id":"198895cf.e76d4a","type":"signalk-subscribe","z":"24a313b5.02d3ec","name":"Time","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.time","source":"","period":1000,"x":310,"y":1140,"wires":[["24c61626.8916da"]]},{"id":"24c61626.8916da","type":"ui_text","z":"24a313b5.02d3ec","group":"566c0f8e8f8327d4","order":1,"width":"6","height":"2","name":"Clock","label":"","format":"<font size=7>{{msg.payload}}","layout":"row-center","x":710,"y":1140,"wires":[]},{"id":"09777213c0809b81","type":"function","z":"24a313b5.02d3ec","name":"Cabin Temp Validation","func":"const now = new Date();\nconst then = new Date(flow.get(\"cabinTempLastSeen\"));\nif (then <= (now - 5000))\n    return {enabled: false};\nelse\n    return {enabled: true};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":80,"wires":[["7ffadd13.ca4f14"]]},{"id":"816d3400ac22fcf5","type":"function","z":"24a313b5.02d3ec","name":"Cabin Temp last seen","func":"flow.set(\"cabinTempLastSeen\", msg.timestamp);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":120,"wires":[[]]},{"id":"7b81b1e5801295e1","type":"inject","z":"24a313b5.02d3ec","name":"Poller","props":[],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":380,"wires":[["09777213c0809b81","4bf313c5c18c9cfb","ead6544eb8c395a8","953194fdaa763ed5","9bfb21d8c5e5dcba","aebe7319fa635145","0ae9d8044abb129c","6afe620174bcb73b","925333484422ac40","05275aa766e314f8","e5c106fa14c3753d"]]},{"id":"4bf313c5c18c9cfb","type":"function","z":"24a313b5.02d3ec","name":"Cabin Hum Validation","func":"const now = new Date();\nconst then = new Date(flow.get(\"cabinHumLastSeen\"));\nif (then <= (now - 5000))\n    return {enabled: false};\nelse\n    return {enabled: true};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":240,"wires":[["bd9931aa.74ada"]]},{"id":"7c8820398808b951","type":"function","z":"24a313b5.02d3ec","name":"Cabin Hum last seen","func":"flow.set(\"cabinHumLastSeen\", msg.timestamp);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":280,"wires":[[]]},{"id":"930b959ab2a7e2e0","type":"signalk-subscribe","z":"24a313b5.02d3ec","name":"Environmental pressure","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.outside.pressure","source":"","period":1000,"x":260,"y":460,"wires":[["105e65cbeaef7f35","f82b27a9eaea7525"]]},{"id":"105e65cbeaef7f35","type":"function","z":"24a313b5.02d3ec","name":"/100","func":"var input = parseFloat(msg.payload);\n\nmsg.payload = (input/100).toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":460,"wires":[["89224630279a78f6"]]},{"id":"89224630279a78f6","type":"ui_gauge","z":"24a313b5.02d3ec","name":"","group":"2485c3d9.99631c","order":3,"width":6,"height":3,"gtype":"gage","title":"Environmental pressure","label":"","format":"{{value}} hPa","min":"913.25","max":"1113.25","colors":["#e6de00","#00e604","#0400ff"],"seg1":"1012","seg2":"1014","x":770,"y":460,"wires":[]},{"id":"ead6544eb8c395a8","type":"function","z":"24a313b5.02d3ec","name":"Env Pressure Validation","func":"const now = new Date();\nconst then = new Date(flow.get(\"pressureLastSeen\"));\nif (then <= (now - 5000))\n    return {enabled: false};\nelse\n    return {enabled: true};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":380,"wires":[["89224630279a78f6"]]},{"id":"f82b27a9eaea7525","type":"function","z":"24a313b5.02d3ec","name":"Env Pressure last seen","func":"flow.set(\"pressureLastSeen\", msg.timestamp);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":420,"wires":[[]]},{"id":"c691029918d6997a","type":"ui_switch","z":"24a313b5.02d3ec","name":"","label":"Relay 2","tooltip":"","group":"566c0f8e8f8327d4","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":460,"y":2020,"wires":[["9ca15c2c5344747d"]]},{"id":"9ca15c2c5344747d","type":"function","z":"24a313b5.02d3ec","name":"","func":"\npgn = {\n    \"pgn\": 127501,\n    \"Instance\": 1,\n    \"Indicator2\": msg.payload\n}\nmsg.payload = pgn;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":2020,"wires":[["9c129b29.5ece98"]]},{"id":"cc9fe9f00c76ec60","type":"signalk-subscribe","z":"24a313b5.02d3ec","name":"AC state","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.switches.bank.1.4.state","source":"","period":1000,"x":300,"y":600,"wires":[["8664ee473972a261","f167ec1d774e7b2b","606eb4cb90374f54"]]},{"id":"2e4c55f887388577","type":"ui_text","z":"24a313b5.02d3ec","group":"566c0f8e8f8327d4","order":2,"width":0,"height":0,"name":"","label":"AC state","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":560,"wires":[]},{"id":"5bbcdc1591f7d1a4","type":"http request","z":"24a313b5.02d3ec","d":true,"name":"SMS AC alert","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://10.2.0.1/cgi-bin/sms_send?username=vuosaari&password=vuosaari&number=00358408278454&text=AC%20alert","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":840,"y":660,"wires":[[]]},{"id":"f167ec1d774e7b2b","type":"switch","z":"24a313b5.02d3ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":600,"wires":[["b4b0dce8adb8a66a"],["335c8a48d63045b2"]]},{"id":"84c32fc27075e17f","type":"http request","z":"24a313b5.02d3ec","d":true,"name":"SMS AC OK","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://10.2.0.1/cgi-bin/sms_send?username=vuosaari&password=vuosaari&number=00358408278454&text=AC%20OK","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":830,"y":700,"wires":[[]]},{"id":"8664ee473972a261","type":"function","z":"24a313b5.02d3ec","name":"AC state last seen","func":"flow.set(\"ACStateLastSeen\", msg.timestamp);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":560,"wires":[[]]},{"id":"953194fdaa763ed5","type":"function","z":"24a313b5.02d3ec","name":"AC State Validation","func":"const now = new Date();\nconst then = new Date(flow.get(\"ACStateLastSeen\"));\nif (then <= (now - 5000))\n    return {payload: \"N/A\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":520,"wires":[["2e4c55f887388577"]]},{"id":"335c8a48d63045b2","type":"change","z":"24a313b5.02d3ec","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":620,"wires":[["2e4c55f887388577"]]},{"id":"b4b0dce8adb8a66a","type":"change","z":"24a313b5.02d3ec","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":580,"wires":[["2e4c55f887388577"]]},{"id":"1d6c6f2baa7dcd01","type":"signalk-subscribe","z":"24a313b5.02d3ec","name":"Relay 1 state","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.switches.bank.1.1.state","source":"","period":"100","x":290,"y":1960,"wires":[["b6818c99.ff92b"]]},{"id":"ad18b961ddf59065","type":"signalk-subscribe","z":"24a313b5.02d3ec","name":"Relay 2 state","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.switches.bank.1.2.state","source":"","period":"100","x":290,"y":2020,"wires":[["c691029918d6997a"]]},{"id":"d0265b20839ad204","type":"signalk-subscribe","z":"24a313b5.02d3ec","name":"Automation enclosure temp","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.inside.temperature","source":"1.1","period":1000,"x":240,"y":1040,"wires":[["4941c6565abaa3d0","9cd6fd652f03fba8"]]},{"id":"4941c6565abaa3d0","type":"function","z":"24a313b5.02d3ec","name":"Kelvin to Celsius","func":"var kelvins = parseFloat(msg.payload);\nvar celsius = kelvins - 273.15;\n\nmsg.payload = celsius.toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":1080,"wires":[["d957f72d19895ebb"]]},{"id":"d957f72d19895ebb","type":"ui_gauge","z":"24a313b5.02d3ec","name":"","group":"566c0f8e8f8327d4","order":6,"width":6,"height":3,"gtype":"gage","title":"Automation enclosure temperature","label":"°C","format":"{{value}}","min":"-5","max":"60","colors":["#001eff","#00cc3d","#ca3838"],"seg1":"1","seg2":"40","x":860,"y":1080,"wires":[]},{"id":"9bfb21d8c5e5dcba","type":"function","z":"24a313b5.02d3ec","name":"Enclosure Temp Validation","func":"const now = new Date();\nconst then = new Date(flow.get(\"enclosureTempLastSeen\"));\nif (then <= (now - 5000))\n    return {enabled: false};\nelse\n    return {enabled: true};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1000,"wires":[["d957f72d19895ebb"]]},{"id":"9cd6fd652f03fba8","type":"function","z":"24a313b5.02d3ec","name":"Enclosure Temp last seen","func":"flow.set(\"enclosureTempLastSeen\", msg.timestamp);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1040,"wires":[[]]},{"id":"40171bae8a9ff24d","type":"signalk-subscribe","z":"24a313b5.02d3ec","name":"Bilge pump run indicator (BPRI)","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.switches.bank.1.3.state","source":"","period":"1000","x":230,"y":820,"wires":[["c3153e8a05384589","177cb57d27d8d8a6","0075e95b06929656"]]},{"id":"c45e9dc65f5f7a67","type":"ui_text","z":"24a313b5.02d3ec","group":"566c0f8e8f8327d4","order":3,"width":0,"height":0,"name":"","label":"Bilge pump run state","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":780,"wires":[]},{"id":"fc5604c2e0266606","type":"http request","z":"24a313b5.02d3ec","d":true,"name":"SMS bilge alert","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://10.2.0.1/cgi-bin/sms_send?username=vuosaari&password=vuosaari&number=00358408278454&text=Engine%20room%20bilge%20pump%20running%21","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":840,"y":920,"wires":[[]]},{"id":"177cb57d27d8d8a6","type":"switch","z":"24a313b5.02d3ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":820,"wires":[["4e26a6bcf0a515ee"],["99d7b9795ce9bb03"]]},{"id":"b386c78e80ccc23f","type":"http request","z":"24a313b5.02d3ec","d":true,"name":"SMS bilge OK","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://10.2.0.1/cgi-bin/sms_send?username=vuosaari&password=vuosaari&number=00358408278454&text=Engine%20room%20bilge%20pump%20stopped.","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":840,"y":880,"wires":[[]]},{"id":"c3153e8a05384589","type":"function","z":"24a313b5.02d3ec","name":"BPRI last seen","func":"flow.set(\"BPRILastSeen\", msg.timestamp);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":780,"wires":[[]]},{"id":"aebe7319fa635145","type":"function","z":"24a313b5.02d3ec","name":"BPRI Validation","func":"const now = new Date();\nconst then = new Date(flow.get(\"BPRILastSeen\"));\nif (then <= (now - 5000))\n    return {payload: \"N/A\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":740,"wires":[["c45e9dc65f5f7a67"]]},{"id":"99d7b9795ce9bb03","type":"change","z":"24a313b5.02d3ec","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":840,"wires":[["c45e9dc65f5f7a67"]]},{"id":"4e26a6bcf0a515ee","type":"change","z":"24a313b5.02d3ec","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":800,"wires":[["c45e9dc65f5f7a67"]]},{"id":"0075e95b06929656","type":"rbe","z":"24a313b5.02d3ec","name":"","func":"rbei","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":450,"y":900,"wires":[["dd0c8a2ff1b5e78b"]]},{"id":"dd0c8a2ff1b5e78b","type":"switch","z":"24a313b5.02d3ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":900,"wires":[["b386c78e80ccc23f"],["fc5604c2e0266606"]]},{"id":"606eb4cb90374f54","type":"rbe","z":"24a313b5.02d3ec","name":"","func":"rbei","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":450,"y":680,"wires":[["314659c0dd907a41"]]},{"id":"314659c0dd907a41","type":"switch","z":"24a313b5.02d3ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":680,"wires":[["5bbcdc1591f7d1a4"],["84c32fc27075e17f"]]},{"id":"fa2369aafb38641e","type":"trigger","z":"24a313b5.02d3ec","name":"Toggle screen PWR","op1":"{\"pgn\":127501,\"Instance\":2,\"Indicator1\":0}","op2":"{\"pgn\":127501,\"Instance\":2,\"Indicator1\":1}","op1type":"json","op2type":"json","duration":"2","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":590,"y":2080,"wires":[["9c129b29.5ece98"]]},{"id":"e9a0692c06a9b4f8","type":"inject","z":"24a313b5.02d3ec","name":"Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":2080,"wires":[["fa2369aafb38641e"]]},{"id":"8604c15970a23c28","type":"signalk-subscribe","z":"24a313b5.02d3ec","name":"Battery 1 voltage","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.1.voltage","source":"","period":1000,"x":280,"y":1300,"wires":[["9e44539d9da57bbc","aaa5afc820677e87"]]},{"id":"9e44539d9da57bbc","type":"ui_text","z":"24a313b5.02d3ec","group":"1f5d0207.2b455e","order":1,"width":0,"height":0,"name":"","label":"Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":740,"y":1300,"wires":[]},{"id":"0ae9d8044abb129c","type":"function","z":"24a313b5.02d3ec","name":"B1 Voltage Validation","func":"const now = new Date();\nconst then = new Date(flow.get(\"B1voltage\"));\nif (then <= (now - 5000))\n    return {enabled: false};\nelse\n    return {enabled: true};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1220,"wires":[["9e44539d9da57bbc"]]},{"id":"aaa5afc820677e87","type":"function","z":"24a313b5.02d3ec","name":"B1 Voltage last seen","func":"flow.set(\"B1voltage\", msg.timestamp);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1260,"wires":[[]]},{"id":"2aa0212d0a8ea130","type":"signalk-subscribe","z":"24a313b5.02d3ec","name":"Battery 1 current","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.1.current","source":"","period":1000,"x":280,"y":1420,"wires":[["a3e11e8e276030c5","dfa5cf8e2534a099"]]},{"id":"a3e11e8e276030c5","type":"ui_text","z":"24a313b5.02d3ec","group":"1f5d0207.2b455e","order":2,"width":0,"height":0,"name":"","label":"Current","format":"{{msg.payload}} A","layout":"row-spread","x":740,"y":1420,"wires":[]},{"id":"6afe620174bcb73b","type":"function","z":"24a313b5.02d3ec","name":"B1 Current Validation","func":"const now = new Date();\nconst then = new Date(flow.get(\"B1current\"));\nif (then <= (now - 5000))\n    return {enabled: false};\nelse\n    return {enabled: true};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1340,"wires":[["a3e11e8e276030c5"]]},{"id":"dfa5cf8e2534a099","type":"function","z":"24a313b5.02d3ec","name":"B1 Current last seen","func":"flow.set(\"B1current\", msg.timestamp);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1380,"wires":[[]]},{"id":"5a517a3c22bf1744","type":"signalk-subscribe","z":"24a313b5.02d3ec","name":"Battery 1 temperature","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.1.temperature","source":"","period":1000,"x":260,"y":1540,"wires":[["34d7e76e64bac686","fda3b31ddc59e9fc"]]},{"id":"2160aab7f9caaf0b","type":"ui_text","z":"24a313b5.02d3ec","group":"1f5d0207.2b455e","order":4,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}} °C","layout":"row-spread","x":750,"y":1540,"wires":[]},{"id":"925333484422ac40","type":"function","z":"24a313b5.02d3ec","name":"B1 Temperature Validation","func":"const now = new Date();\nconst then = new Date(flow.get(\"B1temp\"));\nif (then <= (now - 5000))\n    return {enabled: false};\nelse\n    return {enabled: true};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1460,"wires":[["2160aab7f9caaf0b"]]},{"id":"34d7e76e64bac686","type":"function","z":"24a313b5.02d3ec","name":"B1 Temperature last seen","func":"flow.set(\"B1temp\", msg.timestamp);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1500,"wires":[[]]},{"id":"fda3b31ddc59e9fc","type":"function","z":"24a313b5.02d3ec","name":"Kelvin to Celsius","func":"var kelvins = parseFloat(msg.payload);\nvar celsius = kelvins - 273.15;\n\nmsg.payload = celsius.toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1540,"wires":[["2160aab7f9caaf0b"]]},{"id":"778cee9e52d0c143","type":"signalk-subscribe","z":"24a313b5.02d3ec","name":"Battery 1 charge","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.1.capacity.stateOfCharge","source":"","period":1000,"x":280,"y":1680,"wires":[["07c0f9ce0735fef2","ba249296a645670b"]]},{"id":"872730f67ae6a2db","type":"ui_text","z":"24a313b5.02d3ec","group":"1f5d0207.2b455e","order":3,"width":0,"height":0,"name":"","label":"Charge","format":"{{msg.payload}} %","layout":"row-spread","x":740,"y":1680,"wires":[]},{"id":"05275aa766e314f8","type":"function","z":"24a313b5.02d3ec","name":"B1 Charge Validation","func":"const now = new Date();\nconst then = new Date(flow.get(\"B1charge\"));\nif (then <= (now - 5000))\n    return {enabled: false};\nelse\n    return {enabled: true};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1600,"wires":[["872730f67ae6a2db"]]},{"id":"07c0f9ce0735fef2","type":"function","z":"24a313b5.02d3ec","name":"B1 Charge last seen","func":"flow.set(\"B1charge\", msg.timestamp);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1640,"wires":[[]]},{"id":"ba249296a645670b","type":"function","z":"24a313b5.02d3ec","name":"*100","func":"var input = parseFloat(msg.payload);\n\nmsg.payload = (input*100);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1680,"wires":[["872730f67ae6a2db"]]},{"id":"4cf7e328cec77f59","type":"signalk-subscribe","z":"24a313b5.02d3ec","name":"Battery 1 remaining time","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.1.capacity.timeRemaining","source":"","period":1000,"x":250,"y":1820,"wires":[["994299e43daca2c4","f74440819ed15471"]]},{"id":"7f2d5ef6ddf8d0e5","type":"ui_text","z":"24a313b5.02d3ec","group":"1f5d0207.2b455e","order":3,"width":0,"height":0,"name":"","label":"Time Remaining","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":1820,"wires":[]},{"id":"e5c106fa14c3753d","type":"function","z":"24a313b5.02d3ec","name":"B1 Time remaining Validation","func":"const now = new Date();\nconst then = new Date(flow.get(\"B1time\"));\nif (then <= (now - 5000))\n    return {enabled: false};\nelse\n    return {enabled: true};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1740,"wires":[["7f2d5ef6ddf8d0e5"]]},{"id":"994299e43daca2c4","type":"function","z":"24a313b5.02d3ec","name":"B1 Time remaining last seen","func":"flow.set(\"B1time\", msg.timestamp);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1780,"wires":[[]]},{"id":"f74440819ed15471","type":"function","z":"24a313b5.02d3ec","name":"sec to h and min","func":"var input = parseInt(msg.payload);\n\nlet hours = Math.floor(input/3600);\nlet minutes = Math.floor((input-hours*3600)/60);\n\nmsg.payload = hours + 'h ' + minutes + 'min';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1820,"wires":[["7f2d5ef6ddf8d0e5"]]}]